body{
  background-color:  rgb(187, 163, 25);
  
  }
  
  .App{
      background-color: white;
      height: 360px;
      width: 400px;
      margin: auto;
      margin-top: 10%;
      padding: 30px 90px;
      box-shadow: 5px 10px #888888;
      border-radius: 10px;
  
  }
  
  input{
      background-color: gainsboro;
      border-radius: 10px;
      font-size: x-large;
      opacity: 0.5;
      margin-bottom: 25px;
  }
  /*  background-color: rgb(136, 196, 1   36);*/
  button{
      background-color: gainsboro;
      width: 90px;
      height: 40px;
      border-radius: 5px;  
  }
  
  
  /*NavBar*/
  .NavContainer{
      background-color: white;
      border: solid white;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .logo > img{
      width: 20%;
  }
  
  .nav-links {
      display: flex;
      list-style: none;
      font-family: "Courier New";
      font-size: x-large;
      margin-right: 20%;
      justify-content: space-evenly;
  }
  
  .L{
    margin-left: 10%;  
  }
  
  .L:hover{
      color: gold;
  }
  
  button{
    border: none;
    border-radius: 10px;
  }
  
  /*Section 1*/
  .Sec1{
  background-image: url(./images/model4.jpg);
  padding: 15%;
  }
  
  
  .mod1{
    background-color: black;
    width: 27%;
    padding: 5%;
    padding-top: 0%;
    color: white;
    display: none;
    position: absolute;
    left: 30%;
    top: 15%;
}
  
  /*Section 2*/
  .Sec2{
      background-image: url(./images/lash2.jpg);
      padding: 8% 15%;
  }
  
  /*Section3*/
  .Sec3{
  background-color: rgb(187, 163, 25);
  }
  
  /*FAQ*/
  .FAQContainer{
      background-image: url(./images/eyebrow.jpg); 
      background-repeat: repeat; 
  }
  
  .FAQ-wrapper{
      background-color: rgb(187, 163, 25);
      width: 70%;
      height:1050px;
      margin: auto;
      color: black;
      font-size: 15px;
      padding: 2%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
   li> span{ 
      color: black;
  }

  /*.ImGallery{
      display: grid;
      grid-gap: 20% 5%;
      grid-template-columns: auto auto auto;
      padding: 5%;
      border: solid;
      column-width: 50%;
      column-count: 2;
  }

  .row{
    width: 70%;
    height: 200px;
    border: solid;
  
  }*/

  /*IMPROVEMENT
  
    .GalleryContainer{
      padding: 3%;
      border: solid 3px gray;
  }

  .ImGallery{
    border: solid;
    columns: 230px 3;
    width: 75%;
    margin: auto;
    padding: 3%;
    }

.row{
  border: solid;
  height: 250px;
  margin-top: 5%;
}
  
  */
   
  /*GALLERY*/
  .GalleryContainer{
      padding: 3%;
      
  }

  .ImGallery{
   
    columns: 230px 3;
    width: 75%;
    margin: auto;
    padding: 3%;
    background-color: white;
    }


  .row{
    height: 250px;
    margin-bottom: 10%;
  }
  

  /*Book Now*/
  .book-wrapper{
      background-color: white;
      width: 73%;
      height:600px;
      margin: auto;
      color: black;
      text-align: center;
  }
  
  .book-wrapper:focus{
      color: none;
  }
  
  .appt{
      background-color: grey;
      width: 67%;
      height:280px;
      color: black;
      position: absolute;
      font-size: 16px;
      list-style: inside;
      padding: 3%;
  }
  

  a{
      text-decoration: none;
      color: black;
      
  }
  
  /*Contact*/

 .ContactContainer{
   width: 100%;

 }
  .contactForm{
    margin-left: 15%;
    padding: 5%;
    display: flex;
    height: 700px;
 
  }

  .left-contactform{ 
    background-image: url(./images/contactphoto.PNG);
    background-size: 125%;
    width: 40%; 
   
  }

  .list{
    margin-top: 30%;
  }
  ul{
    color: grey;
  }

  .ul {
    list-style:  url(./images/email1.jpg); ;
  }

  .x  {
    padding: 10%;
    }
    
    .y  {
    padding: 10%;
    }
    
    .z  {
      padding: 10%;
      }
    

  .right-contactform{
      background-color: white;
      width: 40%; 
      display: flex;
      flex-direction: column;
  }

  .module{
   
    display: flex;
    flex-direction: column; 
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
    
  }

 .label{
    border: solid 1px rgb(236, 232, 232);
    padding: 3%;
  }

  .inputfield-names{
    display: flex;
    flex-direction: row;
  }

  .names{
    width: 45%;
    border-radius: 1px 1px;
    border: solid 1px lightgray;
    background-color: transparent;
    padding: 3%;
    font-size: medium;
  }

  
  .inputfield{
    border-radius: 1px 1px;
    border: solid 1px lightgray;
    background-color: transparent;
    padding: 3%;
    font-size: medium;
  }

 .msg{
  border-radius: 2px 2px;
  border: solid 1px rgb(236, 232, 232);
  background-color: transparent;
  padding: 8%;
  font-size: medium;
 }

 .form-btn{
  margin: auto;
  margin-top: 5%;
  background-color: grey;
  border-style: none;
 }


 

  /*SHOP*/
  .ShopContainer{
    padding: 3%;
    
}

.shopGallery{
 
  columns: 230px 3;
  width: 75%;
  margin: auto;
  padding: 3%;
  background-color: white;
  }


.shoprow{
height: 250px;
margin-bottom: 10%;
}

  
  /*Footer*/
  .footer{
      background-color: black;
      height: 50%;
      color: white;
      font-family: "Courier New";
      text-align: center;
      padding: 5%;
      font-family: 'snell roundhand';
      }

      .heading3{
        font-size: x-large;
      }
      
      .email{
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        padding-top: 1%;
      }
      .icons{
        margin: auto;
      }
      
  